<div class="container px-4 py-5" id="custom-cards">
  <h2 class="pb-2 border-bottom">Ürünlerimiz</h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5" >
    <div class="col" *ngFor="let policy of policies">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://www.ongunsigorta.com/resim/blog/saglik-sigortasi-nasil-yapilir.jpg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" id="policyName">{{policy.name}}</h2>
          <ul class="d-flex list-unstyled mt-auto">


            <li class="d-flex align-items-center">


            </li>
          </ul>
        </div>
      </div>
    </div>




  </div>
</div>
