<div class="col-md-7 col-lg-8">
  <h4 class="mb-3">Ödeme Sayfası</h4>

  <form>
    <div class="my-3">
      <div class="form-check" *ngFor="let paymentType of paymentTypes">
        <input
          id="credit"
          name="paymentType"
          type="radio"
          class="form-check-input"
          value="{{ paymentType.id }}"
        />
        <label class="form-check-label" for="credit">{{
          paymentType.description
        }}</label>
      </div>
    </div>

    <div class="row gy-3">
      <div class="col-md-6">
        <label for="country" class="form-label">Ödeme Yapan</label>
        <select class="form-select" id="country" required >
          <option *ngFor="let customer of customers" [ngValue]="customer.id"   >
            {{ customer.firstName }} {{ customer.lastName }}
          </option>
        </select>
      </div>

      <div class="col-md-6">
        <label for="country" class="form-label">Ödeme Yapılan</label>
        <select class="form-select" id="insuredId" >
          <option *ngFor="let insured of insureds" [ngValue]="insured.id" >
            {{ insured.insuredFirstName }} {{ insured.insuredLastName }}
          </option>

        </select>
      </div>
      <div class="col-md-3">
        <label for="cc-cvv" class="form-label">Kredi Kartı Numarası</label>
        <input
          type="text"
          class="form-control"
          id="creditCardNumber"
          placeholder=""
          required=""
        />
        <div class="invalid-feedback">Security code required</div>
      </div>

      <div class="col-md-3">
        <label for="cc-cvv" class="form-label">CVV</label>
        <input
          type="text"
          class="form-control"
          id="cc-cvv"
          placeholder=""
          required=""
        />
        <div class="invalid-feedback">Security code required</div>
      </div>
    </div>

    <hr class="my-4" />

    <button class="btn btn-primary" type="submit">Ödeme Yap</button>
  </form>
</div>
